body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:625px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u943_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:303px;
  height:37px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:17px;
  width:259px;
  height:24px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:23px;
  width:10px;
  height:10px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:17px;
  width:234px;
  height:24px;
}
#u948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:24px;
  background-color:rgba(255, 255, 255, 0.4);
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#09BB07;
  text-align:right;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:21px;
  width:32px;
  height:17px;
  font-size:14px;
  color:#09BB07;
  text-align:right;
}
#u949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:71px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:202px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:205px;
  width:29px;
  height:16px;
  color:#000000;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:10px;
  width:58px;
  height:23px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:239px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:239px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:239px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:239px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:110px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:110px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:110px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:110px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:156px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:156px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:156px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:156px;
  width:60px;
  height:24px;
  font-size:14px;
  color:#FFFFFF;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
